<div class="card">
  <div class="card-header">
    Sign Up!
  </div>

  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="First Name"
            formControlName="firstName"
            [ngClass]="{
              'is-invalid':
                (registerForm.controls['firstName'].touched ||
                  registerForm.controls['firstName'].dirty) &&
                !registerForm.controls['firstName'].valid
            }"
          />
          <div
            *ngIf="
              registerForm.controls['firstName'].invalid &&
              (registerForm.controls['firstName'].dirty ||
                registerForm.controls['firstName'].touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="registerForm.controls['firstName'].errors.required">
              First name is required.
            </div>
            <div *ngIf="registerForm.controls['firstName'].errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div
              *ngIf="registerForm.controls['firstName'].errors.forbiddenName"
            >
              Name cannot be Homero.
            </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Last Name"
            formControlName="lastName"
            [ngClass]="{
              'is-invalid':
                (registerForm.controls['lastName'].touched ||
                  registerForm.controls['lastName'].dirty) &&
                !registerForm.controls['lastName'].valid
            }"
          />
          <div
            *ngIf="
              registerForm.controls['lastName'].invalid &&
              (registerForm.controls['lastName'].dirty ||
                registerForm.controls['lastName'].touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="registerForm.controls['lastName'].errors.required">
              First name is required.
            </div>
            <div *ngIf="registerForm.controls['lastName'].errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="registerForm.controls['lastName'].errors.forbiddenName">
              Name cannot be Simpson.
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEmail4">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail4"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                (registerForm.controls['email'].touched ||
                  registerForm.controls['email'].dirty) &&
                !registerForm.controls['email'].valid
            }"
          />
          <div
            *ngIf="
              registerForm.controls['email'].invalid &&
              (registerForm.controls['email'].dirty ||
                registerForm.controls['email'].touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="registerForm.controls['email'].errors.required">
              Email is required.
            </div>
            <div *ngIf="registerForm.controls['email'].errors.pattern">
              Incorrect email pattern.
            </div>
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="inputPassword4">Password</label>
          <input
            type="password"
            class="form-control"
            id="inputPassword4"
            placeholder="Password"
          />
        </div>

        <div class="form-group col-md-4">
          <label for="inputConfirmPassword">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="inputConfirmPassword"
            placeholder="Confirm Password"
          />
        </div>
      </div>

      <div class="form-group" formGroupName="address">
        <label for="inputAddress">Street</label>
        <input
          type="text"
          class="form-control"
          id="inputStreet"
          placeholder="1234 Main St"
          required
          formControlName="street"
        />

        <label for="inputAddress">City</label>
        <input
          type="text"
          class="form-control"
          id="inputCity"
          placeholder="City"
          formControlName="city"
        />
      </div>

      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="gridCheck"
            [disabled]="!registerForm.controls['address'].valid"
          />
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!registerForm.valid"
        class="btn btn-success"
      >
        Submit
      </button>
      <button type="button" class="btn btn-warning" (click)="setRegister()">
        Set default value
      </button>
    </form>
  </div>
</div>
<pre>
    <br/>
        Form Status: {{ registerForm.status }}
        <br/>
        Form Value: {{ registerForm.value | json}}
        <br/>
        <br/>
        address: {{ registerForm.controls['address'].valid }}
        address: {{ registerForm.controls['address'].touched }}
        address: {{ registerForm.controls['address'].value | json}}
        street: {{ registerForm.controls['address'].controls['street'].value }}
        <br/>
</pre>
